html(lang="en")

head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Month's list
    link(rel="stylesheet" href="style.css")

body
    .wrap
        nav.nav
            ul
            
        .filter
            input.filter__input(placeholder="Search")
        table.table
            tbody.table__body

script(src="script.js")